{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <style>
        .menu-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        }
        .menu-item {
            width: 250px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
        }
        .menu-item img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <h1>Our Menu</h1>    
    <div class="menu-container">        
        {% for item in menu_items %}            
            <div class="menu-item">                
                {% if item.image %}                    
                    <img src="{{ item.image.url }}" alt="{{ item.name }}">               
                {% else %}                    
                    <p>[No Image]</p>                
                {% endif %}                
                    <h3>{{ item.name }}</h3>                
                    <p>{{ item.description }}</p>               
                    <p><strong>{{ item.price }}</strong></p>            
            </div>        
        {% endfor %}    
    </div>
</body>
</html>           

                                                                 